div {
            height: 200px;
            width: 200px;
            background-color: aqua;
            margin: 10px;
            border: 20px groove red;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

#round {
            border-radius: 20px;
        }

#circle {
            border-radius: 50%;
        }
#triangle{
            border-top:50px groove rgb(39, 128, 3);
            border-right:50px groove transparent;
            border-bottom:50px groove rgb(44, 142, 6);
            border-left:50px groove transparent;
            width:0;
            outline:50px solid rgb(0, 131, 0);
            margin-left: 90px;
        }