*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
nav{
    background-color:aqua;
    height:2em;
}
/* .btn{
    margin:20px;
    border:10px groove red;
    background-color:aquamarine;
    padding:0.6em 1em;
    font-weight:bold;
    border-radius:0.6em;
}
#button-smaller{
    font-size:12px;
}
#button-small{
    font-size:16px;
}
#button{
    font-size:20px;
}

#button-large{
    font-size:24px;
}
#button-larger{
    font-size:28px;
}
#test-1{
    font-size:2em;
}
#test-2{
    font-size:2em;
} */
#login{
    margin:20px;
    border:10px groove red;
    background-color:aqua;
    padding:0.6em 1em;
    font-weight:bold;
    border-radius:0.6em;
    font-size: 16px;
    transition:all 100ms linear;
}
#login:hover{
    background-color:rgb(13, 255, 49);
    color:red;
    scale:1.1;
    border-color:rgb(144, 144, 244);
    cursor:pointer;
}
#login:active{
    transition:0;
    scale:.8;
    color:Orange;
    background-color:bisque;
}
a:active{
    background-color:bisque;
}
/* compounding error due to em as it depends on parent element */