*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    background-color:yellow;
    padding:32px;
    display:flex;
    flex-wrap:wrap;
    gap:16px;
    justify-content: space-between;
}
.card{
    background-color:rgb(231, 147, 109);
    border:2px groove red;
    border-radius:16px;
    width:300px;
    /* flex-grow:3; */
}