*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#hero-section{
    background-color: #000732;
    padding: 60px 20px;
}
#hero-section-box{
    /* border:1px groove yellow; */
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;

    color:white;
}
.green-dot{
    background-color:lime;
    height:12px;
    width:12px;
    border-radius:30px;
}
.launch-banner{
    display: flex;
    gap:8px;
    align-items:center;
    border:1px groove red;
    border-radius: 59px;
    padding:8px 16px;
}
.hero-title{
    text-transform:uppercase;
    padding:0px 20px;
    font-size:28px;
    font-weight:bold;
    text-align:center;
}
.highlight-hero-text{
    color:#fbbf23;
    font-style:italic;
}
.action-container{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.request{
    padding:12px 24px;
    border-radius:12px;
    width:100%;
}
.enroll{
    width:100%;
    padding:12px 24px;
    border-radius:12px;
    background-color:#fbbf23
}
@media(width>768px){
    .action-container{
        flex-direction:row;
        justify-content:center;
    }
}